th {
  background-color: #0096ff;
  font-size: small;
}

.tags {
  border: 1px solid transparent;
  background-color: coral;
  border-radius: 10px;
}

.actions {
  border: 1px solid transparent;
  background-color: goldenrod;
  border-radius: 10px;
}
